<ng-container *ngIf=" !!fridge ">

  <!-- Pagination -->
  <div class="p-3 mx-5 text-center">
    <components-pagination [inventoryLength]=" fridge.inventory.length " [(page)]=" page "></components-pagination>
  </div>

  <div class="shadow p-3 mx-5 my-2 bg-body rounded row">
    <!-- Selected Page -->
    <div class="col col-12 col-md-6 col-lg-6 d-flex flex-row flex-wrap">
      <div *ngFor="let item of getItemPage(page) " class="w-50 mh-50 p-2">

        <!--Item-->
        <div class="card p-2 bg-light w-100 h-100" [class.border]=" item.id === selectedItemId "
          [class.border-success]=" item.id === selectedItemId " (click)=" item.id && selectItem(item.id) ">
          <div class="m-auto">
            <div class="card-img-top">
              <img src="../assets/large_summer-snack-set.png" class="img-fluid" style="max-width: 100%; height: auto;">
            </div>

            <div class="card-body">
              <p class="text-center text-break fs-2">{{ item.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Selected item-->
    <div *ngIf=" !!selectedItemId " class="bg-light mh-50 rounded ml-3 p-3 col col-12 col-md-6 col-lg-6">
      <components-item [selectedItemId]=" selectedItemId " [fridgeId]=" fridge.id"></components-item>
    </div>

    <!--Add item-->
    <components-add-button [fridge]=" fridge " (itemAdded)=" fridge.inventory.push($event) "></components-add-button>

  </div>

</ng-container>