<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coolschrank</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body sytel="max-width: 800px">
  <div class="container">
    <h1 class="text-secondary text-center shadow p-3 m-5 bg-body rounded display-1 fw-bold">
      <span class="text-info ">Cool</span>schrank
    </h1>

    <div class="d-flex justify-content-center">

      <nav aria-label="...">
        <ul class="pagination pagination">

          <li *ngFor="let page of pages,  let i = index " id="pageItem{{i}}" class="page-item"><a class="page-link"
              href="#" (click)=" selectPage(i) "> {{ i + 1 }}</a></li>
        </ul>
      </nav>

    </div>

    <div class="bg-info shadow p-3 m-5 bg-body rounded row">

      <ng-container *ngIf=" !!fridge ">
        <!--inventory-->
        <!-- <ul class="list-group list-group-flush col col-md-6 col-sm-12">
          <li *ngFor="let item of fridge.inventory " class="list-group-item">
            <label class="fs-2" (click)=" item.id && selectItem(item.id) ">{{ item.name }}</label>
          </li>
        </ul> -->

        <div class="col col-md-6 col-sm-12 d-flex flex-row flex-wrap">

          <div *ngFor="let item of getItemPage(page) " class="w-50 p-2 mh-25">

            <div class="card p-2 bg-light" (click)=" item.id && selectItem(item.id) ">
              <div class="card-img-top">
                <img src="../assets/large_summer-snack-set.png" class="img-fluid"
                  style="max-width: 100%; height: auto;">
              </div>

              <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
              </div>
            </div>

          </div>

        </div>

        <!--item-->
        <div *ngIf=" !!selectedItemId " class="bg-light mh-50 rounded ml-3 p-3 col col-md-6 col-sm-12">
          <components-item [selectedItemId]=" selectedItemId " [fridgeId]=" fridge.id"></components-item>
        </div>

      </ng-container>

      <components-add-button [fridge]=" fridge " (itemAdded)=" fridge.inventory.push($event) "></components-add-button>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>