<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coolschrank</title>

  <!--Bootstsrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!--Bootstsrap Icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
  <div class="container text-break">

    <!-- <div *ngIf=" authService.isAuthenticated()"> -->
    <div class="d-flex flex-row-reverse mx-5">
      <div class="display-4 text-info logout" (click)=" authService.logout() ">
        <i class="bi bi-box-arrow-right ml-1"></i>
      </div>
    </div>
    <!-- </div> -->

    <!--Headline-->
    <div class="text-secondary text-center shadow p-3 m-5 bg-body rounded display-1 fw-bold">
      <span class="text-info">Cool</span>schrank
    </div>

    <!--Login form-->
    <components-login *ngIf=" !authService.isAuthenticated() "></components-login>

    <!--Fridge component-->
    <components-fridge *ngIf=" authService.isAuthenticated() "></components-fridge>

  </div>

  <!--Bootstsrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>