<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coolschrank</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
  <div class="container">
    <h1 class="text-secondary text-center shadow p-3 m-5 bg-body rounded display-1 fw-bold">
      <span class="text-info ">Cool</span>schrank
    </h1>

    <div class="bg-info shadow p-3 m-5 bg-body rounded">

      <ng-container *ngIf=" !!fridge ">
        <div class=" d-flex flex-row">
          <!--inventory-->
          <ul class="list-group list-group-flush w-50">
            <li *ngFor="let item of fridge.inventory " class="list-group-item">
              <label class="fs-2" (click)=" item.id && selectItem(item.id) ">{{ item.name }}</label>
              <!-- <i class="bi bi-trash-fill float-right fs-2" (click)=" deleteItem(item) "></i> -->
            </li>
          </ul>

          <!--item-->
          <div *ngIf=" !!selectedItemId " class=" container bg-light w-50 mh-50 rounded ml-3 p-3">
            <components-item [selectedItemId]=" selectedItemId " [fridgeId]=" fridge.id"></components-item>
          </div>

        </div>
      </ng-container>

      <components-add-button [fridge]=" fridge " (itemAdded)=" fridge.inventory.push($event) "></components-add-button>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>

</html>