<section>
    <div class="shadow p-3 m-5 bg-body rounded">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="p-5 text-center">
                    <h3 class="mb-5">Sign in</h3>

                    <h5 class="bg-light mb-5 text-start">
                        Name and password are only used for key generation
                    </h5>

                    <!--User input-->
                    <div class="form-outline mb-4">
                        <input #userControl="ngModel" type="text" id="user" class="form-control form-control-lg"
                            [(ngModel)]=" user " />
                        <label class="form-label" for="user">User</label>
                    </div>

                    <!--Password input-->
                    <div class="form-outline mb-4">
                        <input #passwordControl="ngModel" type="password" id="password"
                            class="form-control form-control-lg" [(ngModel)]=" password " />
                        <label class="form-label" for="password">Password</label>
                    </div>

                    <!--Login button-->
                    <button class="btn btn-primary btn-lg btn-block" [disabled]=" !password || !user" type="submit"
                        (click)=" login() ">Login</button>
                </div>
            </div>
        </div>
    </div>
</section>